Jinja2==2.7.3
MarkupSafe==0.23
Unidecode==0.04.18
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
awesome-slugify==1.6.5
bcrypt==2.0.0
billiard==3.3.0.20
celery==3.1.18
cffi==1.1.2
fake-factory==0.5.2
feedparser==5.2.0
kombu==3.0.26
passlib==1.6.2
peewee==2.6.3
psycopg2==2.6.1
py==1.4.30
pycparser==2.14
pytest==2.7.2
pytz==2015.4
redis==2.10.3
regex==2015.07.12
shortuuid==0.4.2
six==1.9.0
wsgiref==0.1.2
