<h1>
    {{site.title}}
<h1>
{% if title is defined %}
<h1>
    {{title}}
<h1>
{% endif %}
{% if post is defined %}
    <h2>
        {{post.title}}
    <h2>
    <h3>
        By {{post.author.public_name}} on {{post.created_date}}
    <h3>
    <h3>
        {{post.description}}
    </h3>
    <div>
        {{post.body}}
    </div>
{% endif %}
{% if posts is defined %}
    {% for post in posts %}
        <h2><a href="/post/{{post.slug}}.html">{{post.title}}</a></h2>
        <p>{{post.description}}</p>
    {% endfor %}
    Page {{current_page}} of {{total_pages}}
{% endif %}
