{% extends "dashboard_base.html" %}
{% block content %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">
      <strong>
        You will be charged $20 per month for this site.
      </strong>
    </h1>
    <h3 class="text-center">The first month is free and you may cancel at anytime</h3>
  	




    <form method="POST">
      <h1>Add Site</h1>
      {{ form.csrf_token }}
      <div class="form-group" >
        <div class="form-group">
          {% if form.site_title.errors %}
          <p class="errors">{% for error in form.site_title.errors %}{{ error }}{% endfor %}</p>
          {% endif %}
    	    <input type="title" class="form-control" id="site_title" name="site_title" placeholder="Site Title" value="{{form.site_title.data or ''}}">
      	</div>
        <div class="input-group">
          {% if form.site_subdomain.errors %}
          <p class="errors">{% for error in form.site_subdomain.errors %}{{ error }}{% endfor %}</p>
          {% endif %}
          <input type="text" class="form-control" id="site_subdomain" name="site_subdomain" placeholder="Subdomain" value="{{form.site_subdomain.data or ''}}">
          <div class="input-group-addon">.mowich.net</div>
        </div>
      </div>


        <label>Please reauthenticate</label>

        <div class="form-group">
          {% if form.site_email.errors %}
          <p class="errors">{% for error in form.site_email.errors %}{{ error }}{% endfor %}</p>
          {% endif %}
          <input type="title" class="form-control" id="site_email" name="site_email" placeholder="Email">
        </div>


        <div class="form-group">
          {% if form.site_password.errors %}
          <p class="errors">{% for error in form.site_password.errors %}{{ error }}{% endfor %}</p>
          {% endif %}
          <input type="password" class="form-control" id="site_password" name="site_password" placeholder="Password">
        </div>
        

          {% include "terms_of_service.html"  %}
          
          <button type="submit" class="btn btn-primary">Subscribe</button>

      </div>
    </form>




	</div>
<div>
{% endblock %}