
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Fixed Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <style type="text/css">
body {
  min-height: 2000px;
  padding-top: 70px;
}


    </style>



    <style type="text/css" media="screen">
  .has-error input {
      border-width: 2px;
  }

  .validation.text-danger:after {
      content: 'Billing Form Invalid';
  }

  .validation.text-success:after {
      content: 'Validation passed';
  }

  .errors {
    color: red;
    font-weight: bold;
  }
</style>

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/dashboard">{{config.MUCKAMUCK_NAME}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          	<ul class="nav navbar-nav">
              {% if active_site %}
              <li><a href="/site/{{active_site.uuid}}/post">Post</a></li>
                {% if active_site.owner.uuid == user.uuid %}
                <li><a href="/site/{{active_site.uuid}}/settings">Settings</a></li>
                {% endif %}
              {% endif %}
          		<li class="dropdown">
              		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              			{% if active_site %}
              				{{active_site.title}}
              			{% else %}
              				Select Site
              			{% endif %}
              			<span class="caret"></span>
              		</a>
              		<ul class="dropdown-menu" role="menu">
                    {% for site in sites %}
                      <li><a href="/site/{{site.uuid}}">{{site.title}}</a></li>
                    {% endfor %}
                		<li class="divider"></li>
                		<li><a href="/add_site">Add Site</a></li>
              		</ul>
            	</li>


          </ul>
          <ul class="nav navbar-nav navbar-right">
          		<li><a href="../navbar/">Help</a></li>
          		<li class="dropdown">
              		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user.email}} <span class="caret"></span></a>
              		<ul class="dropdown-menu" role="menu">
                		<li><a href="#">he</a></li>
                		<li><a href="#">Another action</a></li>
                		<li><a href="#">Something else here</a></li>
                		<li class="divider"></li>
                		<li><a href="#">Sign Out</a></li>
              		</ul>
            	</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
    	<div class="row">
		    {% with messages = get_flashed_messages() %}
				{% if messages %}
			{% for message in messages %}
        <h2 class="text-center" style="color: red;">{{ message }}</h2>
			{% endfor %}
				{% endif %}
			{% endwith %}
    	</div>
    	<div class="row">
    		{% block content %}{% endblock %}
    	</div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/stripe-debug.js"></script>
    <script type="text/javascript">
      // This identifies your website in the createToken call below
      Stripe.setPublishableKey('pk_test_tfaaF5bmwzaeiE8zovPNI2yh');
      // ...
    </script>

    <script>






    jQuery(function($) {
      $('[data-numeric]').payment('restrictNumeric');
      $('.cc-number').payment('formatCardNumber');
      $('.cc-exp').payment('formatCardExpiry');
      $('.cc-cvc').payment('formatCardCVC');

      $.fn.toggleInputError = function(erred) {
        this.parent('.form-group').toggleClass('has-error', erred);
        return this;
      };

      $('#billing-info-form').submit(function(e) {
        e.preventDefault();
        var $form = $(this);
        var billingFormValidity = false;
        var cardType = $.payment.cardType($('.cc-number').val());
        ////////////////////////////////////////////////
        //Check Credit Card Number
        if ($.payment.validateCardNumber($('.cc-number').val())) {
          $('.cc-number').toggleInputError(!true);
          var billingFormValidity = true;
          console.log("Check Credit Card Numbe Valid");
        } else {
          $('.cc-number').toggleInputError(!false);
          var billingFormValidity = false;
          console.log("Check Credit Card Numbe Invalid");
        }
        //Check Expiration Date
        if ($.payment.validateCardExpiry($('.cc-exp').payment('cardExpiryVal'))) {
          $('.cc-exp').toggleInputError(!true)
          var billingFormValidity = true;
          console.log("Expiration Date Valid");
        } else {
          $('.cc-expr').toggleInputError(!false);
          var billingFormValidity = false;
          console.log("Expiration Date Invalid");
        }
        //Check Credit Card CVC
        if ($.payment.validateCardCVC($('.cc-cvc').val(), cardType)) {
          $('.cc-cvc').toggleInputError(!true);
          var billingFormValidity = true;
          console.log("CVC Valid");
        } else {
          $('.cc-cvc').toggleInputError(!false);
          var billingFormValidity = false;
          console.log("CVC Invalid");

        }
        ////////////////////////////////////////////////
        console.log(billingFormValidity);
        if (!billingFormValidity) {
          return false;
        }
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken({
          number: $('.cc-number').val(),
          cvc: $('.cc-cvc').val(),
          exp_month: $('input.cc-exp').payment('cardExpiryVal')['month'],
          exp_year: $('input.cc-exp').payment('cardExpiryVal')['year']
        }, stripeResponseHandler);

        return false;
      });
    });
    function stripeResponseHandler(status, response) {
      var $form = $('#billing-info-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // response contains id and card, which contains additional card details
        var token = response.id;
        console.log(token);
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and submit
        $form.get(0).submit();
      }
    };
  </script>



  </body>
</html>
