{% extends "dashboard_base.html" %}
{% block content %}


<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>{{active_site.title}}</h1>
		{% for number in range(10) %}
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
    				<h2 class="panel-title">
    					<strong>
    						<a href="">Post Title</a>
    					</strong>
    				</h2>
  				</div>
				<div class="panel-body">
			    

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacus sem, placerat non ante ac, ultrices efficitur risus. Morbi et efficitur ex, in finibus velit. Aliquam vitae rhoncus leo. Etiam hendrerit vel dui ut ultrices. Nullam leo diam, vestibulum sit amet lobortis hendrerit, ultrices eu libero. Suspendisse imperdiet lacinia scelerisque. Cras ut tempus urna. Aenean nibh lacus, congue quis ante ut, viverra scelerisque est. Nunc pretium eleifend iaculis. In ultrices leo id dictum maximus. Phasellus consectetur sed arcu eu malesuada.



			  	</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>



{% endblock %}