{% extends "dashboard_base.html" %}
{% block content %}


<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="page-header">
  			<h1 class="text-center">
  				{{active_site.title}}
  				<br>
  				<small>
  					Recent Posts
  				</small>
  			</h1>
  		</div>
  		{% if not posts %}
  			<h2>No Recent Posts</h2>
  		{% endif %}
		{% for post in posts %}
		<h2><a href="/site/{{active_site.uuid}}/post/{{post.uuid}}">{{post.title}}</a></h2>
		<label>Author:</label> <a href="/user/{{post.author.uuid}}">{{post.author.email}}</a>
  		<br>
  		<label>Date Published:</label>{{post.published | datetimefilter}}
  		<div>
  			{{post.description}}
  		</div>
		{% endfor %}


	</div>
</div>



{% endblock %}