<br>
<div class="panel panel-default">
  <div class="panel-heading"><h3><strong>Term of Service for Mowich.net</strong></h3></div>
  <div class="panel-body">
	<p>
		<strong>
			These terms of service are subject to change.
		</strong>
	</p>  		
  	<ul>
	  	<li>
	  		<p>
	  			Mowich.net has the right refuse service.
	  		</p>
	  	</li>
	  	<li>
	  		<p>
	  			Each site on Mowich.net is intended to host one blog and one podcast. 
	  		</p>
	  	</li>
	  	<li>
		  	<p>
		  		Violations of the following rules may cause your account and sites to be suspended or deleted
		  	</p>
		    <strong>
		    	<ol>
		    		<li>
		    			Do not engage in engage in any illegal activies.
		    		</li>
		    		<li>
		    			Do not engage in engage in any malicious activies.
		    		</li>
					<li>
		    			Do not fail to pay subscription fees.
		    		</li>
		    		<li>
		    			Do not use sites for unintended porposes.
		    		</li>
		    	</ol>
		    </strong>
		</li>
	</ul>
    <p>
  		All decicions regarding violations and definitions of these rules and term will be made by the managment of Mowich.net
  	</p>
  	<p>
  		<i>
  			Please email jason@mowich.net with any questions or comments about these terms of sevice
  		</i>
  	</p>
  </div>
</div>